@import 'tailwindcss';

/* Custom Utilities */
@layer utilities {
  .clip-path-hero {
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  /* Animations */
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(40px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes bounce-slow {

    0%,
    100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .animate-fade-in-up {
    animation: fade-in-up 1s ease-out forwards;
  }

  .animate-fade-in-right {
    animation: fade-in-right 1s ease-out forwards;
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-bounce-slow {
    animation: bounce-slow 4s infinite;
  }
}

/* Global styles */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #020617;
  /* blue-950 */
  background-color: #ffffff;
}


html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}